<!DOCTYPE html>
<html>
<head>
	<title> Products </title>
	<style>
		.product_outer{
	    	margin: auto;
	     	width: 60%;
     	}

	</style>
</head>
<body>
	<br>
	<%= link_to 'Add Product', '/product/add' %>
    <div class="product_outer">
		<% @products.each do |product| %>
			<%= render 'product', product: product %>
		<% end %>
	</div>
</body>
</html>