<div class="card small">
          <div class="card-image">
              <img src="">
            </div>
            <div class="card-content">
              <p>Store 4</p>
            </div>
            <div class="card-action">
              <a href="/store/<%= store.id %>/products">Products</a>
              <i class="material-icons">thumb_up</i>
              <i class="material-icons">thumb_down</i>
            </div>
</div>