<!DOCTYPE html>
<html>
<head>
	<title> Stores </title>
	<style>
		.stores_container{
			width: 70%;
			margin: auto;
		}
	</style>
</head>
<body>
	<br>
	<%= link_to 'Add Store', '/store/add' %>
	<div class="stores_container">
	<% @stores.each do |store| %>
		<%= render 'store', store: store %>
	<% end %>
	</div>
</body>
</html>